### Ques 6 . Using the data from Question 3, write code to analyze the data and answer the following questions Note 1. Draw plots to demonstrate the analysis for the following questions for better visualizations

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_excel("Ques2.xlsx")

In [3]:
df.columns

Index(['id', 'num', 'name', 'img', 'type', 'height', 'weight', 'candy',
       'candy_count', 'egg', 'spawn_chance', 'avg_spawns', 'spawn_time',
       'multipliers', 'weaknesses', 'next_evolution', 'prev_evolution'],
      dtype='object')

### ● Get all Pokemons whose spawn rate is less than 5%

In [4]:
data = df[df.groupby('name')['spawn_chance'].apply(lambda x:x<0.05)][['name','spawn_chance']].reset_index()

In [5]:
df[(df['spawn_chance']*100<5)][['name','spawn_chance']]

           name  spawn_chance
1       Ivysaur        0.0420
2      Venusaur        0.0170
4    Charmeleon        0.0120
5     Charizard        0.0031
7     Wartortle        0.0340
..          ...           ...
145     Moltres        0.0000
147   Dragonair        0.0200
148   Dragonite        0.0011
149      Mewtwo        0.0000
150         Mew        0.0000

[65 rows x 2 columns]

### ● Get all Pokemons that have less than 4 weaknesses

In [6]:
df['weaknesses'][0]

'Fire, Ice, Flying, Psychic'

In [7]:
df['weaknesses'][0].split(', ')

['Fire', 'Ice', 'Flying', 'Psychic']

In [8]:
dcopy = df.copy()
for i in range(len(dcopy['weaknesses'])):
    dcopy['weaknesses'][i] = dcopy['weaknesses'][i].split(', ')

In [9]:
dcopy[dcopy['weaknesses'].apply(lambda x: len(x)<4)][['name','weaknesses']]

           name               weaknesses
3    Charmander    [Water, Ground, Rock]
4    Charmeleon    [Water, Ground, Rock]
5     Charizard  [Water, Electric, Rock]
6      Squirtle        [Electric, Grass]
7     Wartortle        [Electric, Grass]
..          ...                      ...
145     Moltres  [Water, Electric, Rock]
146     Dratini     [Ice, Dragon, Fairy]
147   Dragonair     [Ice, Dragon, Fairy]
149      Mewtwo       [Bug, Ghost, Dark]
150         Mew       [Bug, Ghost, Dark]

[102 rows x 2 columns]

### ● Get all Pokemons that have no multipliers at all

In [10]:
import numpy as np

In [11]:
df['multipliers'][5]

nan

In [12]:
df['multipliers'][5] is np.NaN

True

In [13]:
df[df['multipliers'].apply(lambda x:x is np.NaN)][['name','multipliers']]

           name multipliers
2      Venusaur         NaN
5     Charizard         NaN
8     Blastoise         NaN
11   Butterfree         NaN
14     Beedrill         NaN
..          ...         ...
144      Zapdos         NaN
145     Moltres         NaN
148   Dragonite         NaN
149      Mewtwo         NaN
150         Mew         NaN

[81 rows x 2 columns]

### ● Get all Pokemons that do not have more than 2 evolutions

In [14]:
dcopy = df.copy()
for i in range(len(dcopy['next_evolution'])):
    if dcopy['next_evolution'][i] is np.NaN:
        continue
    else:
        dcopy['next_evolution'][i] = dcopy['next_evolution'][i].split(', ')

In [15]:
def check(x):
    if x is np.NaN:
        return True
    if len(x) > 2:
        return False
    else:
        return True

dcopy[dcopy['next_evolution'].apply(check)][['name','next_evolution']]

           name                       next_evolution
0     Bulbasaur      [002 : Ivysaur, 003 : Venusaur]
1       Ivysaur                     [003 : Venusaur]
2      Venusaur                                  NaN
3    Charmander  [005 : Charmeleon, 006 : Charizard]
4    Charmeleon                    [006 : Charizard]
..          ...                                  ...
146     Dratini   [148 : Dragonair, 149 : Dragonite]
147   Dragonair                    [149 : Dragonite]
148   Dragonite                                  NaN
149      Mewtwo                                  NaN
150         Mew                                  NaN

[150 rows x 2 columns]

### ● Get all Pokemons whose spawn time is less than 300 seconds.
Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.

In [16]:
df['spawn_time'][0]  # type is str and np.NaN

'20:00'

In [17]:
dcopy = df.copy()   # we create a copy to make changes
dcopy['spawn_seconds'] = df['spawn_time']  # create copy col of spawn_time
dcopy['spawn_seconds']

0      20:00
1      07:00
2      11:30
3      08:45
4      19:00
       ...
146    06:41
147    11:57
148    23:38
149      NaN
150      NaN
Name: spawn_seconds, Length: 151, dtype: object

In [18]:
for i in range(len(dcopy['spawn_seconds'])):
    if dcopy['spawn_seconds'][i] is not np.NaN:
        a = '00:'+dcopy['spawn_seconds'][i] # the data is 'mm:ss' format, we will use to_timedelta which need 'hh:mm:ss'  
        b = pd.to_timedelta(a)   #convert the string date to timedelta
        dcopy['spawn_seconds'][i] = b.seconds  # .seconds converts the hh:mm:ss -> ss

In [19]:
dcopy[dcopy['spawn_seconds']<500][['name','spawn_seconds']]

          name spawn_seconds
1      Ivysaur           420
6     Squirtle           265
7    Wartortle           422
8    Blastoise             6
10     Metapod           131
..         ...           ...
135    Flareon           422
136    Porygon           169
138    Omastar           304
139     Kabuto             5
146    Dratini           401

[95 rows x 2 columns]

### ● Get all Pokemon who have more than two types of capabilities

In [20]:
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,1.58,"Fire, Ice, Flying, Psychic","002 : Ivysaur, 003 : Venusaur",NaN
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic",003 : Venusaur,001 : Bulbasaur
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"Fire, Ice, Flying, Psychic",NaN,"001 : Bulbasaur, 002 : Ivysaur"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,1.65,"Water, Ground, Rock","005 : Charmeleon, 006 : Charizard",NaN
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,1.79,"Water, Ground, Rock",006 : Charizard,004 : Charmander

THERE IS NO COLUMN WHICH REFERS TO CAPABILITIES OF POKEMONS. IF CAPABILITY IS REFERRING TO TYPE THEN THERE IS NO DATA WITH MORE THAN 2 CAPABILITES